<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet/less" href="/style.less">
    <script src="/less.js"></script>
  </head>
  <body>
    <div id="topbar">
      <%= link_to image_tag("/logo.png", size:"42x42", alt:"logo"), root_url %>
      <div id="current_user">
	<% if session[:current_user_id] %>
	  Logged as <b><%= link_to "@#{_current_user.username}",
	  "/users/#{_current_user.id}" %> </b>
	   · <%= link_to "Logout", sessions_destroy_path %>
	<% else %>
	  <%= form_tag sessions_create_path do %>
            <%= text_field_tag :username, nil, placeholder: "Username" %>
            <%= password_field_tag :password, nil,  placeholder: "Password" %>
            <%= submit_tag "Login" %>
	  <% end %>
	<% end %>
      </div>
    </div>
    <div class="wrap">
      <%= yield %>
    </div>
  </body>
</html>
